* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background: #201b2c;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  
  font-size: 36px;
  font-weight: bolder;
  color:#77ffc0;
  text-align: center;
  margin-bottom: 10px;
}
main {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2f2841;
  box-shadow: 0px 10px 40px #00000056;
  border-radius: 20px;

}
h2 {
  padding: 15px 0px;
  color:#77ffc0;
  font-size: 26px;
  margin-bottom: 10px;
}

label{
  color: #f0ffffde;
  font-size: 25px;
}
input {
  padding: 2px;
  margin-bottom: 4px;
}
select {
  padding: 5px;
  font-size: 17px;
  margin-bottom: 10px;

}
button{

 width: 35%;
  padding: 16px 0px;
  margin:25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color:  #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  margin-right: 15px;
  font-size: 23px;
  color: rgb(145, 142, 142);
}
p{
  color: #00ff88;
  font-size: 27px;
}

